<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script src="https://cdn.bootcss.com/eruda/1.5.4/eruda.js"></script>
  <!--<script>eruda.init()</script>-->
  <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/js/main.js?b0ee0eb8978f57e0bea7"></script></body>
</html>